//wraps image and text
.single-post-wrapper {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.3);
  @extend .cf;
}
//wraps only image
.single-img-wrapper {
  max-width: 900px;
  position: relative;

  //padding: 25px 0 25px 25px;
  img {
    width: 100%;
    height: auto;
  }
}
//side where wp tags go
.single-post-meta {

}
//beautiful instagram like hightlight over img border
.highlight {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  border: 1px solid rgba(255,255,255,0.25);
}